<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <div class="maindiv">
        <h3>Great Finance App</h3>
        <div class="logo heading">
            <img src="./img.jpeg" alt="logo" height="1em" width="1em" srcset="">
        </div>
        
        <div>
            <label for="">Email</label> <br>
            <input type="email" name="" id=""> <br>
            <label for="">Password </label> <br>
            <input type="password" name="" id="">
            <br>
        </div>
        <h4>Or</h4>
        <div class="auth">
            <button type="button">Sign in with Google</button>
        </div>
    </div>
    
</body>
</html>