body {
  background-color: #1a1a2e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
}


.main {
  background-color: #16213e;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 500px;

  box-sizing: border-box;
  transition: -color 0.3s ease;
}

.main:hover{
  transform: scale(1.04);
  transition: transform .3s ease;
}

h2,
h3 {
  text-align: center;
  margin: 0;
}

h2{
  color: #00b894;
  text-transform: uppercase;
  font-size: 28px;
  margin-bottom: 15px;
  text-shadow: 3px 10px 5px;
}

h2 l{
  color: white;
}

h3 {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 40px;
}

.input-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: normal;

  font-size: 14px;
}

input[type='email'],
input[type='password'] {
  width: 100%;
  padding: 12px;
  border: 1px solid #464663;
  border-radius: 6px;
  color: white;
  box-sizing: border-box;
  background-color: #1a1a2e;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input[type='email']:focus,
input[type='password']:focus {
  outline: none;
  border-color: #00b894;
  box-shadow: 0 0 5px rgba(0, 184, 148, 0.5);
}


.option-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  font-size: 14px;

}

.option-group .remember-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.option-group input[type='checkbox'] {
  margin-right: 8px;
  accent-color: #00b894;
  cursor: pointer;
}

.option-group a {
  color: #a9b3c6;
  text-decoration: none;
}

.option-group a:hover {
  text-decoration: underline;
  color: #ffffff;
}


.button-group {
  margin-top: 20px;
}

input[type='submit'] {
  width: 100%;
  padding: 12px;
  background-color: #00b894;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
}

input[type='submit']:active{
  background-color: aqua;
}

input[type='submit']:hover {
  background-color: #00a383;
}

.separeter-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 20px;
}

.separeter-group hr {
  margin: 10px;
  width: 33%;
}

.google-group {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

input[type='button']{
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;

}

.signin-group{
  margin-top: 20px;
  text-align: center;
}

.signin-group a {
  text-decoration: none;
  color: #00b894;
}

.signin-group a:hover{
  color: #00a383;
}

.signin-group a:active{
  color: aqua;
}