*{
    padding: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background: radial-gradient(circle,rgba(20, 18, 36, 1) 0%, rgb(31, 31, 58) 36%, rgb(70, 71, 90) 100%);
    background-size: cover;
    background-color: rgb(17, 24, 39);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maindiv{
    margin: 30px;
    color: white;
    height: 400px;
    width: 35em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 50px;
    background-color: #141224;

}
.logo{
    
}
input{
    border-radius: 5px;
    margin: 10px;
    font-size: x-large;
    background-color: #111827;
    border: none;
}
button{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
}